@import "tailwindcss";

@theme {
  --color-primary-500: #10b981;
  --color-primary-600: #059669;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-900 border-slate-200 antialiased selection:bg-primary-500 selection:text-white;
}

.dark body {
  @apply bg-slate-950 text-slate-50 border-slate-800 selection:bg-primary-500 selection:text-white;
}